<h1>Veuillez confirmer votre mail</h1>

<p>
    Merci de bien vouloir confirmer votre adresse email en suivant cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
